<div class="main-navbar sticky-top bg-white d-md-none">
  <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">

    <!-- Navbar Logo -->
    <table align="center">
      <tbody style="vertical-align: middle !important;">
        <tr>
          <td>
            <img src="images/powermeter/logo.png" width="25" height="35" alt="powemeter_logo">
            <txt>PowerMeter</txt>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Navbar Dropdown -->
    <nav class="nav">
      <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
        data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
        <i class="material-icons">&#xE5D2;</i>
      </a>
    </nav>
  </nav>
</div>
