<%- include("header",{mode:''}) %>

<div class="main-content-container container-fluid">
  <div class="d-flex justify-content-between">
    <div class="page-header no-gutters py-4">
      <div class="">
        <span class="text-uppercase page-subtitle">Simulación</span>
        <h3 class="page-title">
          <%=simulation.name%>
        </h3>
      </div>
    </div>
    <div class="page-header py-4">
      <a
        href="/simulaciones/new"
        class="btn btn-sm btn-primary"
        style="color:white"
        >+ Nueva Simulación</a
      >
    </div>
  </div>

  <%- include("simulation_detail",{mode:''}) %>
</div>

<% include footer.ejs %>
